In [11]:
def add(x,y):
    d = x+y
    return d
    
add(2,3)

5

In [1]:
name = "vignesh"
Age = 23
skills = "python,ML"
print("hi my name is", name, "my age is", Age,"my skills are",skills)

hi my name is vignesh my age is 23 my skills are python,ML

In [4]:
# modulo
987898 % 56 #modulo division returns the remainder

2

In [7]:
#double division

10//2 #it gives the output in int form unlike normal divison(gives float)

5

# Arithmetic Operators

In [29]:
#Arithmetic operators
v1  = 34
v2  = 20
print("The sum is",v1+v2)
print("The difference is",v1-v2)
print("The division is",v1/v2)
print("The product is",v1*v2)
print("The double division is",v1//v2)
print("The modulous is",v1%v2)

The sum is 54
The difference is 14
The division is 1.7
The product is 680
The double division is 1
The modulous is 14

# Assignment Operators

In [30]:
#Assignment operators
x= 3
x += 2 # syntax is <variable> <operator> <variable 2>
print(x)

5

In [33]:
y = 45
y -= 56 # same syntax as above
print(y)

-11

# Comparitive Operators

In [41]:
# less than <
# greater than >
# equal to ==
# not equal to !=
#less than or equal to >=
#greater than or equal to <=
3<4

True

In [36]:
3>4

False

In [37]:
4 == 4

True

In [39]:
8>= 7

True

In [40]:
5 <= 10

True

# Identity Operator

In [42]:
3 is 5

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\vigne\AppData\Local\Temp\ipykernel_18588\2315715683.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  3 is 5

False

In [43]:
3 is not 5

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\vigne\AppData\Local\Temp\ipykernel_18588\1267465606.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  3 is not 5

True

# Membership Operators

In [55]:
#membership operators in not in
data = [1,2,3,45]
print(45 in data)# used to find if it is present in a variable or not
print(4 in data)
print(4 not in data)

True
False
True

# Comparitive Excercise

In [52]:
a = 9
b = 7

print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
True
False
True
False

In [16]:
a= 2
bin(a)

'0b10'

In [18]:
bin(100)

'0b1100100'

In [2]:
pwd

'C:\\Users\\vigne'

In [3]:
cd Downloads/

C:\Users\vigne\Downloads

In [4]:
!python untitled0.py

hi my name is vignesh my age is 23 my skills are python,ML
Atluri Vignesh
<class 'float'>
<class 'str'>
<class 'int'>
<class 'bool'>

# Bitwise operators

In [4]:
# biwise perators are faster than normal operators
#bitwise operators = operations bettween the bits
#bits  = binary digits = 0,1
# byte = a group of 8 bits
#kilo byte = 1024 bits , because computer calculates in 2's power 2**10 = 1024 bits

#the bitwise operators are :-
# 1) bitwise AND
# 2) bitwise OR
# 3) bitwise NOT
# 4) bitwise XOR

In [8]:
# Bitwise AND 
v1= True
v2 = False
v1 & v2


# if both the inputs are true then true else false

False

In [7]:
# Bitwise OR |
print(v1 | v2)
print(v2 | v2)

# if any one of the input is true then it is true else false

True
False

In [9]:
# Bitwise NOT ~
bin(14)

'0b1110'

In [11]:
2 & 6

2

In [12]:
6 & 2

2

In [13]:
bin(30)

'0b11110'

In [14]:
bin (45)

'0b101101'

In [15]:
2**5

32

In [16]:
2**4

16

In [17]:
30 & 45

12

In [18]:
30 | 45

63

In [22]:
# XOR ^ , used in deep learning
# t,f
print(v1^v2)
#f,t
print(v2^v1)
#t,t
print(v1^v1)
#f,f
print(v2^v2)

True
True
False
False

In [23]:
30 ^ 45

51

In [9]:
# bitwise not 
# not has the below
#simpe formula = -(x+1) (in c book)
#complex formula (c book)

In [24]:
#left shift(<<) and right shift(>>) (in c book)
print(50 >> 1)
print(50 << 1)

25
100

In [23]:
20 >> 1

10

# Logical Operators

In [38]:
# and
# or
#  not reverses the values if true then false and viceversa
2 < 5 and 2>10

False

In [31]:
2 < 5 or 2 > 10

True

In [29]:
not(2<5 and 2 > 10)

True

In [37]:
a = 2 < 77
b = 3 > 1
print(a and b)
print(a or b)
print(not(a and b))
print(not(a or b))

True
True
False
False